server {
  listen 8080;
  server_name boundaries.minnpost.com;
  return 301 https://$server_name$request_uri;
}

server {
  listen 443 ssl;
  server_name boundaries.minnpost.com;
  ssl on;
  ssl_certificate /etc/nginx/ssl/wildcard.minnpost.com.crt;
  ssl_certificate_key /etc/nginx/ssl/wildcard.minnpost.com.key;
  root /home/ubuntu/mn-boundaryservice;

  location /static {
    autoindex on;
    root /home/ubuntu/mn-boundaryservice;
    expires max;
  }

  location /admin/media/ {
    root /home/ubuntu/mn-boundaryservice/boundaryservice/lib/python2.6/site-packages/django/contrib;
  }

  location / {
    proxy_pass_header Server;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
    proxy_connect_timeout 30;
    proxy_read_timeout 30;
    proxy_pass http://localhost:8000/;
    #new
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header X-Forwarded-Port 443;
    expires max;
  }

  # what to serve if upstream is not available or crashes
  error_page 500 502 503 504 /media/50x.html;
}