###
# Upstart script for the boundary service
#
# Copy and then configure the directory to where the application
# is:
# sudo cp deployment/boundaryservice.conf.example /etc/init/boundaryservice.conf
#
# Then run with:
# sudo start boundaryservice
###
description "Gunicorn server for boundaryservice"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 10 5

exec /home/ubuntu/django-projects/mn-boundaryservice/gunicorn_startup.sh