#! /bin/bash
###
# Startup script for MN Boundary service.
#
# Copy this file to the application directory and make executable:
# cp deployment/gunicorn.startup_sh.example gunicorn.startup_sh
# chmod +x gunicorn_startup.sh
#
# Update variables as needed.
###

set -e

# Update the following as needed
LOGFILE=/var/log/gunicorn/boundaryservice.log
APPDIR=/home/ubuntu/django-projects/mn-boundaryservice
VIRTENVDIR=boundaryservice/bin
NUM_WORKERS=3
USER=ubuntu
ADDRESS=127.0.0.1:8000

# Load virtual environment
cd $APPDIR
source $VIRTENVDIR/activate

# Ensure log file is available
LOGDIR=$(dirname $LOGFILE)
test -d $LOGDIR || mkdir -p $LOGDIR

# Start gunicorn for django
exec $VIRTENVDIR/gunicorn_django -w $NUM_WORKERS \
    -b $ADDRESS \
    --user=$USER \
    --log-level=debug \
    --log-file=$LOGFILE \
    --timeout=90 \
    2>>$LOGFILE